<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebJobs.Publish" version="1.0.13" targetFramework="net452" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="4.0.0" targetFramework="net452" />
</packages>